#controller-setup {
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#controller-setup .title {
    grid-column: 3/5;
    grid-row: 1;
}

#controller-setup .controller-button {
    background: green;
    background-image: url(../img/no-audio.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 1.5em;
    padding-top: 50%;
    position: relative;
}

#controller-setup #controller-1 {
    grid-column: 2;
    grid-row: 2;
}

#controller-setup #controller-2 {
    grid-column: 3;
    grid-row: 2;
}

#controller-setup #controller-3 {
    grid-column: 4;
    grid-row: 2;
}

#controller-setup #controller-4 {
    grid-column: 5;
    grid-row: 2;
}

#controller-setup #done {
    grid-column: 3/5;
    grid-row: 3;
}

#controller-setup #back {
    grid-column: 1/3;
    grid-row: 1;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(calc(-50% + -1px), -50%, 0);
    }
    20%,
    80% {
        transform: translate3d(calc(-50% + 2px), -50%, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(calc(-50% + -4px), -50%, 0);
    }
    40%,
    60% {
        transform: translate3d(calc(-50% + 4px), -50%, 0);
    }
}