@font-face {
    font-family: concert-one;
    src: url(/font/ConcertOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: concert-one, monospace;
    text-align: center;
    color: #FFFFFFDD;
    border-radius: 10px;
}

:host {
    position: absolute;
    font-size: 2vw;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: rgba(69, 69, 69, 0.8);
    backdrop-filter: blur(5px);
}

button,
ce-audio-toggle,
input,
control-select,
.button-like {
    border: 6px white solid;
}

button:active {
    border: 6px rgba(69, 69, 69, 0.8) solid;
}

*:focus {
    border: 6px gold solid;
}

.big {
    font-size: 2em;
    min-height: 48px;
}

.wide {
    font-size: 1.5em;
    height: 50%;
    min-height: 48px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.small {
    font-size: 1.5em;
    width: 50%;
    height: 50%;
    min-height: 48px;
}

.menu-grid {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 10px;
    aspect-ratio: 16/9;
}

.menu-grid * {
    /* center everything in grid space */
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input {
    color: #000000DD;
    min-height: 48px;
    font-size: 1.5em;
}

label {
    font-size: 1.5em;
}