* {
    margin: 0;
}

:host {
    background-color: grey;
}

#player-number {
    position: relative;
    width: 100%;
    text-align: center;
}

#controller-id {
    position: relative;
    width: 100%;
    text-align: center;
}

#controller-image {
    position: relative;
    width: 30%;
    max-width: 48px;
}

button {
    position: relative;
    width: 48px;
    height: 48px;
    background: transparent;
    background-image: url(/img/nav-next.png);
    border-radius: 100%;
    border: 1px solid white;
    bottom: 20%;
}

#btn-char-prev {
    background-image: url(/img/nav-prev.png);
}

#character-image {
    position: relative;
    width: 30%;
    max-width: 64px;
}

#btn-char-next {}